<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>다운로드 페이지</title>
    {% extends 'base_etc.html' %}
    {% block content %}

<script>
$(function () {
    <!-- 파일 다운 -->
    $('td[name^=file]').click(function(){
        $('#arg1').val($(this).attr('name'));
        $('#arg2').val($(this).text());
        $('#frm').attr("action", "/file_down");
        $('#frm').attr("method", "POST");
        $('#frm').attr("target", "download");
        $('#frm').submit();
    });

    <!-- 기타 링크 -->
    $('td[name^=link]').click(function(){
    var url=$(this).attr('value')
    window.open(url, "_blank");
    });

});

</script>
</head>
<body>

<table class="table-dark" style="width:35%"><th colspan="2" style="text-align:center; font-weight:bold">수탁고현황 프로그램 다운로드</th></table>
<table class="table table-hover" style="width:35%">
    <ul>
        <tr >
            <td><li>업데이트 일자</li></td>
            <td name="file_py_recently" style="cursor:pointer"><a id="recently">2022/01/10</a><span class="badge rounded-pill bg-warning text-dark">최신</span></td>
        </tr>
        <tr>
            <td><li>업데이트 일자</li></td>
            <td name="file_py" style="cursor:pointer">2021/01/03</td>
        </tr>
    </ul>
</table>
<table class="table-dark" style="width:35%"><th colspan="2" style="text-align:center; font-weight:bold">기타 프로그램</th></table>
<table class="table table-hover" style="width:35%">
    <ul >
        <tr>
            <td><li>메일 박스 뷰어3</li></td>
            <td name="file_etc" style="cursor:pointer">ffnsu3200094iml.exe</td>
        </tr>
        <tr>
            <td><li>VPN 실행파일</li></td>
            <td name="file_etc" style="cursor:pointer">FortiClientVPNOnlineInstaller_6.4.exe</td>
        </tr>
        <tr>
            <td><li>VPN사용 매뉴얼</li></td>
            <td name="file_etc" style="cursor:pointer">흥국자산운용Fortinet 구성및 VPN 설정 방법(배포용).pptx</td>
        </tr>
        <tr>
            <td><li>스캔 설치</li></td>
            <td name="file_etc" style="cursor:pointer">FXKSSU20190712KO.zip</td>
        </tr>
        <tr>
            <td><li>스캔사용 매뉴얼</li></td>
            <td name="file_etc" style="cursor:pointer">Simple Scanner Utility 설치 가이드_주의사항.pdf</td>
        </tr>
        <tr>
            <td><li>메신저 설치 프로그램</li></td>
            <td name="file_etc" style="cursor:pointer">UCware_m_Setup_finance.exe</td>
        </tr>
        <tr>
            <td><li>KFR다운로더</li></td>
            <td name="file_etc" style="cursor:pointer">kfr_downloader.exe</td>
        </tr>
        <tr>
            <td><li>ApeosPort C6570 드라이버</li></td>
        <td name="file_etc" style="cursor:pointer">ffeasysetup0100000cml.exe</td>
        </tr>
    </ul>
</table>
<table class="table-dark" style="width:35%"><th colspan="2" style="text-align:center; font-weight:bold">접속 주소</th></table>
<table  class="table table-hover" style="width:32%">
    <ul >
        <tr>
            <td><li>하나펀드서비스</li></td>
            <td name="link_hana" value="http://sso.hanais.com:8100/nls3/clientLogin.jsp?UURL=http://fund.hanais.com&rtoa=1" style="cursor:pointer">접속 주소</td>
        </tr>
        <tr>
            <td><li>공유폴더 접속</li></td>
            <td name="link_synology" value="https://11.10.5.27:5003/" style="cursor:pointer">접속 주소</td>
        </tr>
                <tr>
            <td><li>수탁고 프로그램 세팅</li></td>
            <td name="link_synology" value="https://sora-muck.tistory.com/12" style="cursor:pointer">접속 주소</td>
        </tr>
    </ul>
</table>
<form id="frm" name="frm" method="post">
    <input type="hidden" id="arg1" name="arg1"/>
    <input type="hidden" id="arg2" name="arg2"/>
</form>

{% endblock %}
</body>
</html>