<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        {% extends 'base_etc.html' %}
    {% block content %}
</head>
<body>
<br>
<div class="btn-group btn-group-lg" role="group" aria-label="...">
    <button type="button" class="btn btn-outline-secondary" name="menu1"/>
    <button type="button" class="btn btn-outline-secondary" name="menu2"/>
    <button type="button" class="btn btn-outline-secondary" name="menu3"/>
    <button type="button" class="btn btn-outline-secondary" name="menu4"/>
    <button type="button" class="btn btn-outline-secondary" name="menu5"/>
</div>
<br><br>
해당 페이지가 없습니다.
<br>
<br>

{% endblock %}
</body>
</html>