<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>search</title>
    {% extends 'base_etc.html' %}
    {% block content %}

<style>
div.container {
    border:solid 1px black;
    overflow: auto;
    height: 390px;
    width: 480px;
}
</style>
<script>

$(function() {

    $('.container my-3').disabled();
    $('[name="suikja"]').focus();

    <!-- 아이콘 클릭 빈값: 전체조회, 값:항목검색 -->
    $('#find').click(function(){
        if($('[name="suikja"]').val()==''){
        var formInfo="tab5_suikja";
        $('#find_arg1').val('');
        $('#frm').attr("action", "{{ url_for('tab5.tab5_newwindow_suikja')}}");
        $('#frm').attr("method", "POST");
        $('#frm').attr("target", formInfo);
        window.open("", formInfo, "height=1000, width=1400");
        $('#frm').submit();
        window.close();
        }
        else{
            $('#submit').submit();
        }
    });

    <!-- 행 클릭 -->
    $('[name="suikja_table"]').click(function(){
    var formInfo="tab5_suikja";
    var cont=$(this).find('td:eq(1)').text(); //클릭한 곳에 td값 중 2번째 텍스트값
    $('#find_arg1').val(cont);
    $('#frm').attr("action", "{{ url_for('tab5.tab5_newwindow_suikja')}}");
    $('#frm').attr("method", "POST");
    $('#frm').attr("target", formInfo);
    window.open("", formInfo, "height=1000, width=1400");
    $('#frm').submit();
    window.close();
    });
});

</script>
</head>
<body>
<table>
        <tr style="height:10px"></tr>
    <tr>
        <td align="center" style="width:60px";>검색</td>
            <form action="{{ url_for('tab5.find_suikjaPopup')}}" id="submit" method="post">
                <td style="width:150px;">
                    <input class="form-control" type="text" name="suikja" value="{{suikja}}"/>
                    <input type="hidden" name="win" value="{{win}}"/>
                    <input type="hidden" name="logic" value="{{logic}}"/>
                    <input type="hidden" name="date1" value="{{date1}}"/>
                </td>
                <td><img src="{{url_for('static',filename='images/find.png')}}" id="find" height="25" style="cursor:pointer;"></td>
            </form>
    </tr>
    <tr style="height:30px"></tr>
</table>
<table class="table-light" align="center" style="width:450px;">
    <thead>
    <tr align="center">
        <th scope="col" width="60"></th>
        <th scope="col" width="90">고객그룹</th>
        <th scope="col" >고객명</th>
    </tr>
    </thead>
</table>
<div class="container">
<table class="table table-hover" style=" cursor:pointer;">
    <tbody>
    {% for i in range(queryData1|count) %}
        <tr name="suikja_table" align="center">
            <th scope="row" width="60">{{i+1}}</th>
            <td width="90">{{queryData1[i][0]}}</td>
            <td>{{queryData1[i][1]}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>

<form id="frm" name="frm" method="post">
    <input type="hidden" id="find_arg1" name="find_arg1"/>
    <input type="hidden" id="win" name="win" value="{{win}}"/>
    <input type="hidden" id="logic" name="logic" value="{{logic}}"/>
    <input type="hidden" name="date1" value="{{date1}}"/>
</form>

{% endblock %}
</body>
</html>