<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        {% extends 'base.html' %}
    {% block content %}

<style>
div.container {
    overflow: hidden;
    border:solid 1px green;
    height: 200px;
    width: 200px;
}

</style>
</head>
<body>

<table>
    <tr>
        <td align="center" style="width:80px";>검색:</td>
                <td style="width:150px;"><input class="form-control" type="text"/></td>
                <td><img src="{{url_for('static',filename='image/find.png')}}" height="25"></td>
    </tr>
    <tr style="height:30px"></tr>
</table>
<table class="table table-hover">
    <tr align="center">
        <td width="50"></td>
        <td width="80">그룹</td>
        <td>고객명</td>
    </tr>
    <tr align="center">
        <td>1</td><td>asd</td><td>asd</td>
    </tr>
    <tr align="center">
        <td>1</td><td>asd</td><td>asd</td>
    </tr>
    <tr align="center">
        <td>1</td><td>asd</td><td>asd</td>
    </tr>
    <tr align="center">
        <td>1</td><td>asd</td><td>asd</td>
    </tr>
    <tr align="center">
        <td>1</td><td>asd</td><td>asd</td>
    </tr>
    <tr align="center">
        <td>1</td><td>asd</td><td>asd</td>
    </tr>
    <tr align="center">
        <td>1</td><td>asd</td><td>asd</td>
    </tr>
    <tr align="center">
        <td>1</td><td>asd</td><td>asd</td>
    </tr>
</table>
<br>
<br>

{% endblock %}
</body>
</html>