<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% extends 'base_etc.html' %}
    {% block content %}
<script src="{{url_for('static',filename='schedule.js')}}"></script>
<script>

    var schdule_status='close';
    var checkbtn_status='close';

$(function () {

    setInterval('schedule_set()', 1000);

<!-- 슬라이드토글 테스트 -->
    $('#paritycheck').click(function(){
    $('[name="pdf_btn"]').slideToggle('fast')
    });


});


function btn_click(){
<!-- 스케쥴러 기능 ON/OFF -->
    if(schdule_status=='close'){    schdule_status='open';  }
    else{
        schdule_status='close';
        $('#scheduler_do').html('스케쥴러 중지');}
}


function checkdata(){
<!-- 테이블 자료가 하나쪽 자료와 맞는지 체크용 -->
        if(checkbtn_status=='close'){
            var check='';
<!--            var text_data = ['가','나']; -->
            $.ajax({
                    url : {{ url_for('tab5.callAjax')}}
                    ,type : 'POST'
                    ,dataType : 'json'
                    ,traditional : true
<!--                    ,data : {sendMSG: JSON.stringify(text_data)} -->

            })
            .done(function(value){
                for(var i=0;i<value.length;i++){
                    if(value[i][3]!='True'){
                    check+=value[i][1]+" ";
                    }
                }
                if(check==''){
                    $('#paritycheck').html('이상 없음');
                }
                else{
                    $('#paritycheck').html('펀드번호: '+check);
                }

                for(var i=0;i<value.length;i++){
                    for(var j=0;j<value[0].length;j++){
                        $('[name='+i+'-'+j+']').html(value[i][j]);
                    }
                }
                checkbtn_status='open';
            });
        }
         else if(checkbtn_status='open'){
         $('#paritycheck').html('테이블값 검증');
         checkbtn_status='close';
         }
}

function kfr_getfile(){
<!-- 한국펀드평가 파일 받음 -->
<!-- 저장경로는 \가 아닌 //를 사용. 예시 C://Users//User//Desktop//테스트// -->

    var kfr_info = {filepath :'D://kfr_data//Data//',
                files : ['KFRFV42','KFRFV34','KFRFV33','KFRFV30','KFRFV29',
                        'KFRCV25','KFRCV24','KFRCV23','KFRCV22','KFRCV21',
                        'KFRCV20','KFRCV19','KFRCM99','KFRCM32','KFRFV28',
                        'KFRFV26','KFRFV18','KFRFV17','KFRFV16','KFRFV15',
                        'KFRFV14','KFRFV13','KFRFV12','KFRFV11','KFRCM10',
                        'KFRCM09','KFRCM08','KFRCM07','KFRCM06','KFRCM05',
                        'KFRCM04','KFRCM02','KFRCM01']};

    $('#kfr_getfile').attr('disabled',true);
    $('#kfr_getfile').html('다운로드 중');
    $('#kfr_getfile').attr('title','저장경로:\n'+kfr_info['filepath']);

    $.ajax({
        url : {{ url_for('tab5.kfr_getfile')}}
        ,type: 'post'
        ,dataType: 'JSON'
        ,traditional: true
        ,data : {kfr_info: JSON.stringify(kfr_info)}
    })
    .done(function() {
        $('#kfr_getfile').attr('disabled',false);
        $('#kfr_getfile').html('파일 가져오기');
    });
}

<!-- ESG자료 다운로드하다 포기 -->
function esg_down(){

    $.get({{ url_for('tab5.esg_download')}},function(path){
        alert(path);
    });
}

</script>
</head>
<body>

<ul class="list-group">
    <li class="list-group-item active"> 레이아웃 구성<span class="material-icons">sms_failed</span></li>
    <li class="list-group-item">1-1고객 그룹별 수탁고 총괄->1-2고객 그룹별 순자산/설정액 현황(본부/그룹+고객)->1-3펀드리스트</li>
    <li class="list-group-item">2-1고객 유형별 수탁고 총괄->2-2고객 유형별 순자산/설정액 현황(본부/유형+그룹)->2-3펀드리스트</li>
    <li class="list-group-item">3-1ESG 평가 등급</li>
    <li class="list-group-item">99-1다이렉트 수익자정보 검색(새창)->99-2다이렉트 수익자정보</li>
</ul>

<div style="margin:10px;">
<!-- Javascript가 필요없이 data-toggle에 collapse href에 대상 id을 설정합니다. -->
<button id="paritycheck" class="btn btn-primary" data-toggle="collapse" href="#collapseExample"
        aria-expanded="false" aria-controls="collapseExample" onclick="checkdata()">테이블값 검증</button>
<button id="kfr_getfile" class="btn btn-primary" onclick="kfr_getfile()">파일 가져오기</button>
<button id="scheduler_do" class="btn btn-primary" onclick="btn_click()">스케쥴러 중지</button>
<button name="pdf_btn" class="btn btn-primary" value="ESGDigest_2021_1H_A095570_AJ네트웍스.pdf">pdf뷰어</button>
<button id="esg_down" class="btn btn-primary" onclick="esg_down()">엑셀 값 추출</button>
</div>


<!-- collapse 대상 태그는 class를 collapse로 설정합니다. -->
<div class="collapse" id="collapseExample">
    <div class="well">
        <table class="table table-striped table-bordered table-hover" id="tab5_table" >
            <thead>
                <tr class="thead-dark" align="center">
                    <th>No.</th>
                    <th>펀드번호</th>
                    <th>설정액</th>
                    <th>금액 비교</th>
                </tr>
            </thead>
            <tbody align="center">
                {% for i in range(queryData1|count) %}
                    <tr>
                        {% for j in range(4) %}
                            <td name={{i}}-{{j}}></td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
