<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>렌탈 다운로드</title>
    {% extends 'base_etc.html' %}
    {% block content %}

<script>
$(function () {

    <!-- 기타 링크 -->
    $('td[name^=link]').click(function(){
    var url=$(this).attr('value')
    window.open(url, "_blank");
    });

});

</script>
</head>
<body>

<table class="table-dark" style="width:35%"><th colspan="2" style="text-align:center; font-weight:bold">PDF 다운 주소</th></table>
<table  class="table table-hover" style="width:32%">
    <ul>
        <tr><td><li>3/21</li></td><td name="link" value="https://me2.do/xFV5baEq" style="cursor:pointer">모니터 회수</td></tr>
        <tr><td><li>3/16</li></td><td name="link" value="https://me2.do/FuWTrBVs" style="cursor:pointer">모니터</td></tr>
        <tr><td><li>3/16</li></td><td name="link" value="https://me2.do/Gkplvtt7" style="cursor:pointer">모니터</td></tr>
        <tr><td><li>2/22</li></td><td name="link" value="https://me2.do/FtYnv4MA" style="cursor:pointer">모니터2</td></tr>
        <tr><td><li>2/17</li></td><td name="link" value="https://me2.do/FKpNkyFH" style="cursor:pointer">노트북</td></tr>
        <tr><td><li>2/17</li></td><td name="link" value="https://me2.do/FPuCb9w3" style="cursor:pointer">모니터4 PC2</td></tr>
        <tr><td><li>2/17</li></td><td name="link" value="https://me2.do/xGb4lb9u" style="cursor:pointer">악세사리</td></tr>
        <tr><td><li>2/16</li></td><td name="link" value="https://me2.do/FoWvu4P0" style="cursor:pointer">모니터2 PC</td></tr>
        <tr><td><li>1/14</li></td><td name="link" value="https://me2.do/GfoDrt6i" style="cursor:pointer">악세사리</td></tr>
        <tr><td><li>1/13</li></td><td name="link" value="https://me2.do/F9VBPKsb" style="cursor:pointer">악세사리</td></tr>
        <tr><td><li>1/12</li></td><td name="link" value="https://me2.do/Gl59XdTO" style="cursor:pointer">모니터2</td></tr>
    </ul>
</table>


<form id="frm" name="frm" method="post">
    <input type="hidden" id="arg1" name="arg1"/>
    <input type="hidden" id="arg2" name="arg2"/>
</form>

{% endblock %}
