<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>유형</title>
    {% extends 'base.html' %}
    {% block content %}
</head>
<body>
<script>
$(function() {

    if({{logic}}==1){
        $('[name="gubun1"]').text("유형");
        $('[name="gubun2"]').text("그룹");
    }
    else if({{logic}}==2){
        $('[name="gubun1"]').text("그룹");
        $('[name="gubun2"]').text("유형");
    }

    <!-- 그룹 변경시 -->
    $('[name="selection"]').change(function(){
        $('#suikja').val('all');
        $('#submit').submit();
    });

    <!-- 수익자 변경시 -->
    $('[name="suikja"]').change(function(){
        $('#submit').submit();
    });

});


</script>


<div class="container my-3">
    <table>
        <tr><td colspan="6">
        <div class="btn-group btn-group-lg" role="group" aria-label="...">
            <button type="button" class="btn btn-outline-secondary" name="menu1"/>
            <button type="button" class="btn btn-outline-secondary" name="menu2"/>
            <button type="button" class="btn btn-outline-secondary" name="menu3"/>
            <button type="button" class="btn btn-outline-secondary" name="menu4"/>
        </div>
        </td></tr>
        <tr style="height:30px"></tr>
    </table>
    <table>
         <table>
             <tr>
                 <p class="text-center" style="font-size:20pt;"><b name="headtitle"></b></p>
             </tr>
             <form action="{{ url_for('tab5.tab5_newwindow2')}}" id="submit" method="post">
             <tr align="center">
                 <td name="gubun1" style="width:50px;"></td>
                 <td style="width:210px;"><input class="form-control" type="text" name="readonly" value="{{readonly}}" style="width:100%;" readonly/></td>
                 <td colspan="2"></td>
                 <td><input class="form-control" name="find" type="text" style="width:110px;"/></td>
             </tr>
             <tr>
                 <div class="d-flex justify-content-between">
                     <td name="gubun2" align="center"></td>
                     <td>
                           <select class="form-control" name="selection" id="selection" style="width:100%;">
                            <option value="all">전체</option>
                            {% for i in range(selection1|length) %}
                                {% if selection1[i]==selected %}
                                <option value="{{selection1[i]}}" selected>{{selection1[i]}}</option>
                                {% else %}
                                <option value="{{selection1[i]}}">{{selection1[i]}}</option>
                                {% endif %}
                            {% endfor %}
                            </select>
                     </td>
                     <td></td>
                 </div>
                 <div>
                     <td align="center" style="width:50px;">기준일</td>
                     <td align="left" style="width:110px;">
                        <input class="form-control" type="text" id="datepicker" name="datepicker" value="{{date1}}"/>
                        <input type="hidden" name="win" value="{{win}}"/>
                        <input type="hidden" name="logic" value="{{logic}}"/>
                     </td>
                 </div>
             </tr>
             <tr>
                <div class="d-flex justify-content-between">
                    <div>
                        <td align="center" style="width:50px;">고객</td>
                        <td>
                            <select class="form-control" name="suikja" id="suikja" style="width:100%;">
                            <option value="all">전체</option>
                            {% for i in range(selection2|length) %}
                                {% if selection2[i]==selected2 %}
                                <option value="{{selection2[i]}}" selected>{{selection2[i]}}</option>
                                {% else %}
                                <option value="{{selection2[i]}}">{{selection2[i]}}</option>
                                {% endif %}
                            {% endfor %}
                            </select>
                        </td>
                        <td colspan="2"></td>
                    </div>
                    <div><td align="right"><input class="btn btn-dark" type="button" name="toExcel" value="excel"/></td></div>
                </div>
            </tr>
            <input type="hidden" name="win" value="{{win}}"/>
            <input type="hidden" name="logic" value="{{logic}}"/>
            </form>
        </table>

        <div align="right"><b>단위: (억)</b></div>
        <table class="table table-striped table-bordered table-hover" id="tab5_table" >
            <thead>
                <tr class="thead-dark" style="font-size:12pt;" align="center">
                    <th colspan="4"></th>
                    <th colspan="4">설정액 증감</th>
                    <th colspan="4">수탁고</th>
                </tr>
                <tr class="thead-dark" align="center">
                    {% for i in range(header|length) %}
                    <th class="tab5_th" style="font-size:10pt;">{{header[i]}}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody align="right">
                    {% for i in range(queryData1|count) %}
                <tr style="font-size:10pt;">
                    {% for j in range(header|length) %}
                        {% if j==0 %}
                        <td class="tab5_win2td" align="left"  bgcolor=#CCCCCC>
                        {% elif j==1 %}
                        <td class="tab5_win2td" align="center"  bgcolor=#CCCCCC>
                        {% elif j==2 %}
                        <td class="tab5_win2td" align="left" style="width:160px; word-break:break-all;">
                        {% else %}
                        <td class="tab5_win2td" align="right">
                        {% endif %}
                        {{queryData1[i][j]}}
                        </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        사용자 IP: <mark>{{ip}}</mark>
    </table>
</div>

{% endblock %}
</body>
</html>