<!DOCTYPE html>
<html lang="ko">
<head>
<!--favicon -->
<link rel="icon" href="{{url_for('static',filename='images/icon.ico')}}" type="image/x-icon" />
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- bootstrapCSS -->
<link rel="stylesheet" href="{{url_for('static',filename='bootstrap.min.css')}}">
<script src="{{url_for('static',filename='jquery.min.js')}}"></script>
<script src="{{url_for('static',filename='popper.min.js')}}"></script>
<script src="{{url_for('static',filename='bootstrap.min.js')}}"></script>
<!-- pybo CSS-->
<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
<!-- datapicker -->
<link rel="stylesheet" href="{{url_for('static',filename='bootstrap-datepicker.css')}}" charset = "UTF-8">
<link rel="stylesheet" href="{{url_for('static',filename='jquery-ui.css')}}"/>
<!-- 필수, SheetJS -->
<script src="{{url_for('static',filename='xlsx.full.min.js')}}"></script>
<!--필수, FileSaver savaAs 이용 -->
<script src="{{url_for('static',filename='FileSaver.min.js')}}"></script>
<script src="{{url_for('static',filename='jquery-ui.js')}}"></script>
<script>

    <!-- 메세지창 관리1 -->
function call_msg(gubun){
    if(gubun<modal_msg.length){
        header=modal_msg[gubun][0];
        body=modal_msg[gubun][1];
        $('.modal-header').html(header);
        $('.modal-body').html(body);
        $('.modal').fadeIn();
    }
    else if(gubun>=modal_msg.length){ alert('메세지 구분 값('+gubun+')은 '+modal_msg.length+'보다 작아야 합니다.'); }
    else{
        $('.modal-header').html('제목');
        $('.modal-body').html('내용');
        $('.modal').fadeIn();
    }
    setTimeout(() => $('.modal').fadeOut(), 5000);
}

$(function() {

    <!-- 메세지창 관리2 -->
    $('[name=modal_btn]').click(function(){ $('.modal').fadeIn(); });
    $('.modal-content').click(function(){ $('.modal').fadeOut();  });

    <!-- 메뉴 제목 -->
    $('button[name=menu1]').html('그룹별 현황');
    $('button[name=menu2]').html('자산별 현황');
    $('button[name=menu3]').html('ESG평가');
    $('button[name=menu4]').html('자료실');
    $('button[name=menu5]').html('기타');

    <!-- 메뉴 링크 -->
    $('button[name^=menu]').click(function(){
        var menu=$(this).attr('name')
        if(menu=='menu1'){  window.open("/main/", "");   }
        else if(menu=='menu2'){ window.open("/main2/", "");  }
        else if(menu=='menu3'){
<!--                    window.open("/download/", "");-->
        }
        else if(menu=='menu4'){ window.open("/download/", "");  }
        else if(menu=='menu5'){ window.open("/layout/", "");    }
    });

    <!-- 설명 -->
    $('#datepicker').prop("title", "전 영업일이 최신 값");
    $('#find').prop("title", "검색어 없이 누르면 전체 검색");

    <!-- 테이블헤더 더블클릭 -->
    $('.tab5_th').dblclick(function(){
    var a=$(this).closest('th').prevAll().length; //클릭한 곳에서 가장 가까운 th태그들 개수 합의 길이
    {% for i in range(header|length) %}
        $('.tab5_th').eq({{i}}).text('{{searchdate[0][i]}}');
    {% endfor %}
    setTimeout(function(){
        {% for i in range(header|length) %}
            $('.tab5_th').eq({{i}}).text('{{header[i]}}');
        {% endfor %}
    },4000); // 4초
    });

    <!-- 수익자 검색창 -->
    $('[name=find]').click(function(){
        if({{logic}}=='99'){
            var formInfo="find_suikja"+{{logic}}
            $('[name="arg1"]').val($("#datepicker").val());
            $('#frm').attr("action", "{{ url_for('tab5.find_suikjaPopup2')}}");
            $('#frm').attr("method", "POST");
            $('#frm').attr("target", formInfo);
            window.open("", formInfo, "height=500, width=500");
            $('#frm').submit();
        }
        else{
        window.open("/find_suikja/", formInfo, "height=500, width=500");
        }
    });

    <!-- 제목 설정 logic,win,str 순 -->
    var title = [
                [1,1,'고객 그룹별 수탁고 총괄'],
                [1,2,'고객 그룹별 순자산/설정액 현황'],
                [1,3,'유형별 펀드 현황'],
                [2,1,'고객 유형별 수탁고 총괄'],
                [2,2,'고객 유형별 순자산/설정액 현황'],
                [2,3,'그룹별 펀드 현황'],
                [99,2,'고객별 설정액 현황/유형별']
                ];
    title.forEach(function(element){
        if($('input[name=logic]').val()==element[0] && $('input[name=win]').val()==element[1]){
            $('b[name=headtitle]').html(element[2]);
            }
        });

    <!-- 엑셀로 보내기 -->
    $("[name='toExcel']").click(function(){
        exportExcel();
    });

    <!-- 날짜 변경시 -->
    $('#datepicker').datepicker(datepicker).change(function(e) {
        var it='{{date1}}';
        var modidate = $('#datepicker').val().split('-');
        var modidate = new Date(modidate[0], modidate[1]-1, modidate[2]);
        var recentlydate = '{{recentlydate}}'.split('-');
        var recentlydate = new Date(recentlydate[0], recentlydate[1]-1, recentlydate[2]);
        var diff = Math.floor((recentlydate-modidate)/(24*60*60*1000));
        if(diff>=0){ $('#submit').submit(); }
        else{
            alert('데이터가 존재하지 않습니다');
            $('#datepicker').val(it);
        }

    });

  <!-- PDF 뷰어 -->
    $('[name="pdf_btn"]').click(function(){
        var formInfo='pdf_view';
        var pdf_name=$(this).val();
        $('[name="arg1"]').val(pdf_name);
        $('#pdf_viewer').attr("action", "{{ url_for('tab5.pdf_view')}}");
        $('#pdf_viewer').attr("method", "POST");
        $('#pdf_viewer').attr("target", formInfo);
        window.open("", formInfo, 'height='+screen.height+',width=1000');
        $('#pdf_viewer').submit();
    });

});

$.datepicker.setDefaults({
    dateFormat: 'yy-mm-dd',
    prevText: '이전 달',
    nextText: '다음 달',
    monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
    monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
    dayNames: ['일', '월', '화', '수', '목', '금', '토'],
    dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
    dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
    showMonthAfterYear: true,
    yearSuffix: '년'
});


function exportExcel(){

    // step 1. workbook 생성
    var wb = XLSX.utils.book_new();

    // step 2. 시트 만들기
    var newWorksheet = excelHandler.getWorksheet();

    // step 3. workbook에 새로만든 워크시트에 이름을 주고 붙인다.
    XLSX.utils.book_append_sheet(wb, newWorksheet, excelHandler.getSheetName());

    // step 4. 엑셀 파일 만들기
    var wbout = XLSX.write(wb, {bookType:'xlsx',  type: 'binary'});

    // step 5. 엑셀 파일 내보내기
    saveAs(new Blob([s2ab(wbout)],{type:"application/octet-stream"}), excelHandler.getExcelFileName());
}

var excelHandler = {

    getExcelFileName : function(){
        var j=$('b[name=headtitle]').html();
        var day=$("#datepicker").val().replaceAll('-','');
        return day+j+'.xlsx';
    },
    getSheetName : function(){
        return 'Sheet1';
    },
    getExcelData : function(){
        return document.getElementById('tab5_table');
    },
    getWorksheet : function(){
        return XLSX.utils.table_to_sheet(this.getExcelData());
    }
}

function s2ab(s) {
    var buf = new ArrayBuffer(s.length); //convert s to arrayBuffer
    var view = new Uint8Array(buf);  //create uint8array as viewer
    for (var i=0; i<s.length; i++) view[i] = s.charCodeAt(i) & 0xFF; //convert to octet
    return buf;
}

</script>
<style>
    .ui-datepicker{ font-size: 15px; width: 200px; }
    .ui-datepicker select.ui-datepicker-month{ width:30%; font-size: 11px; }
    .ui-datepicker select.ui-datepicker-year{ width:40%; font-size: 11px; }

    table{ width:100%; }

    input[name='find'] {
        background-image : url('{{url_for('static',filename='images/find.png')}}');
        background-size : 25px;
        background-position : center right;
        background-repeat : no-repeat;
        cursor:pointer;
    }

</style>
</head>
<body>

<!-- 메세지창 -->
<div class="modal" tabindex="-1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header" style="font-size:13pt; font-weight:bold;"></div>
        <div class="modal-body" style="font-size:10pt;"></div>
        <div class="modal-footer" style="font-size:8pt;">클릭시 창이 닫힙니다</div>
    </div>
  </div>
</div>


<!-- 상위메뉴 -->
<div id="top_menu" class="container my-3">
     <table>
        <tr><td colspan="3">
        <div class="btn-group btn-group-lg" role="group" aria-label="...">
            <button type="button" class="btn btn-outline-secondary" name="menu1"/>
            <button type="button" class="btn btn-outline-secondary" name="menu2"/>
            <button type="button" class="btn btn-outline-secondary" name="menu3"/>
            <button type="button" class="btn btn-outline-secondary" name="menu4"/>
            <button type="button" class="btn btn-outline-secondary" name="menu5"/>
        </div>
        </td></tr>
        <tr style="height:30px"></tr>
    </table>
</div>

<!-- pdf뷰어 -->
<form id="pdf_viewer" name="pdf_viewer" method="post">
    <input type="hidden" id="arg1" name="arg1"/>
</form>

<!-- 기본 템플릿 안에 삽입될 내용 start -->
{% block content %}

{% endblock %}
<!-- 기본 템플릿 안에 삽입될 내용 end -->


</body>
</html>