<!DOCTYPE html>
<html lang="ko">
<head>
<!--favicon -->
<link rel="icon" href="{{url_for('static',filename='images/icon.ico')}}" type="image/x-icon" />
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- bootstrapCSS -->
<link rel="stylesheet" href="//unpkg.com/bootstrap@4/dist/css/bootstrap.min.css">
<script src='//unpkg.com/jquery@3/dist/jquery.min.js'></script>
<script src='//unpkg.com/popper.js@1/dist/umd/popper.min.js'></script>
<script src='//unpkg.com/bootstrap@4/dist/js/bootstrap.min.js'></script>
<!-- pybo CSS-->
<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
<!-- datapicker -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js" charset = "UTF-8"></script>
<link
rel="stylesheet"
href="//code.jquery.com/ui/1.8.23/themes/smoothness/jquery-ui.css"
/>
    <!-- 필수, SheetJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.full.min.js"></script>
<!--필수, FileSaver savaAs 이용 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>

    <!-- 메세지창 관리1 -->
function call_msg(gubun){
    if(gubun<modal_msg.length){
        header=modal_msg[gubun][0];
        body=modal_msg[gubun][1];
        $('.modal-header').html(header);
        $('.modal-body').html(body);
        $('.modal').fadeIn();
    }
    else if(gubun>=modal_msg.length){ alert('메세지 구분 값('+gubun+')은 '+modal_msg.length+'보다 작아야 합니다.'); }
    else{
        $('.modal-header').html('제목');
        $('.modal-body').html('내용');
        $('.modal').fadeIn();
    }
    setTimeout(() => $('.modal').fadeOut(), 5000);
}

$(function() {

    <!-- 메세지창 관리2 -->
    $('[name=modal_btn]').click(function(){ $('.modal').fadeIn(); });
    $('.modal-content').click(function(){ $('.modal').fadeOut();  });

    <!-- 메뉴 제목 -->
    $('button[name=menu1]').html('그룹별 현황');
    $('button[name=menu2]').html('자산별 현황');
    $('button[name=menu3]').html('ESG평가');
    $('button[name=menu4]').html('자산관리');
    $('button[name=menu5]').html('자료실');
    $('button[name=menu6]').html('기타');

    <!-- 메뉴 링크 -->
    $('button[name^=menu]').click(function(){
        var menu=$(this).attr('name')
        if(menu=='menu1'){  window.open("/main/", "");   }
        else if(menu=='menu2'){ window.open("/main2/", "");  }
        else if(menu=='menu3'){
<!--                    window.open("/download/", "");-->
        }
        else if(menu=='menu4'){ window.open("/jasan/0", "");  }
        else if(menu=='menu5'){ window.open("/download/", "");  }
        else if(menu=='menu6'){ window.open("/layout/", "");    }
    });


  <!-- PDF 뷰어 -->
    $('[name="pdf_btn"]').click(function(){
        var formInfo='pdf_view';
        var pdf_name=$(this).val();
        $('[name="arg1"]').val(pdf_name);
        $('#pdf_viewer').attr("action", "{{ url_for('tab5.pdf_view')}}");
        $('#pdf_viewer').attr("method", "POST");
        $('#pdf_viewer').attr("target", formInfo);
        window.open("", formInfo, 'height='+screen.height+',width=1000');
        $('#pdf_viewer').submit();
    });


});

</script>
</head>
<body>

<!-- 메세지창 -->
<div class="modal" tabindex="-1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header" style="font-size:13pt; font-weight:bold;"></div>
        <div class="modal-body" style="font-size:10pt;"></div>
        <div class="modal-footer" style="font-size:8pt;">클릭시 창이 닫힙니다</div>
    </div>
  </div>
</div>

<!-- 상위메뉴 -->
<div id="top_menu">
<br>
<div class="btn-group btn-group-lg" role="group" aria-label="...">
    <button type="button" class="btn btn-outline-secondary" name="menu1"/>
    <button type="button" class="btn btn-outline-secondary" name="menu2"/>
    <button type="button" class="btn btn-outline-secondary" name="menu3"/>
    <button type="button" class="btn btn-outline-secondary" name="menu4"/>
    <button type="button" class="btn btn-outline-secondary" name="menu5"/>
    <button type="button" class="btn btn-outline-secondary" name="menu6"/>
</div>
<br><br>
</div>
<!-- pdf뷰어 -->
<form id="pdf_viewer" name="pdf_viewer" method="post">
    <input type="hidden" id="arg1" name="arg1"/>
</form>


<!-- 기본 템플릿 안에 삽입될 내용 start -->
{% block content %}

{% endblock %}
<!-- 기본 템플릿 안에 삽입될 내용 end -->
</body>
</html>